@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
ul{
  list-style-type: none;
}
li.titulo{
  color: white;
  font-size: 30px;
  margin: auto;
  width: 300px;
  text-align: center;
}
li.item-menu{
  background-color: lightsteelblue;
  color: indigo;
  padding: 10px;
  width: 300px;
  margin: auto;
  border:1px solid indigo;
}
button{
  background-color: lightsteelblue;
  color: indigo;
  padding: 10px;
  width: 300px;
  margin: auto;
  border:1px solid indigo;
  display: block;
  border-radius: 8px;
}  