@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table{
    border-collapse: collapse;
    text-align: center;
    width: 100px;
}
      
.vermelho{
    background-color: red;
}
      
.azul{
    background-color: blue;
}